@font-face {
    font-family: PlayfairDisplay;
    src: url(../Assets/Fonts/PlayfairDisplay-Black.ttf);   
    font-size: 900;
    }
  
    @font-face {
     font-family: OpenSans;  
    src: url(../Assets/Fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-size: 400;
    }
    
  @font-face {
  font-family: OpenSans;  
  src: url(../Assets/Fonts/OpenSans-Light.ttf);
  font-weight: lighter;
  font-size: 300;
  }
  