a {
    font-family: OpenSans;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    font-size: medium;
    color: $color-text;
    }

    
h5 {
    font-family: OpenSans, sans-serif;
    text-align: center;
    color:$color-text-secondary ;  
    }